<nav class="sidebar">
    <div class="sidebar-header">
      <img src="Policlinica.png" alt="Logo-Clinica" class="Logo-Clinica">
    </div>
  
    <ul class="nav-list">
      <li><a routerLink="/pacientes" routerLinkActive="active">Pacientes</a></li>
      <li><a routerLink="/busqueda" routerLinkActive="active">Búsqueda</a></li>
      <li><a routerLink="/consultas" routerLinkActive="active">Consultas</a></li>
      <li><a routerLink="/citas" routerLinkActive="active">Citas</a></li>
    </ul>
  
    <div class="sidebar-footer">
      <div class="doctor-info">
        <strong>Dr. Alejandro Caballero</strong><br />
        <small>Médico internista</small>
      </div>
    </div>
  </nav>
  